@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cee Learn And Do voor consultancy .NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cee Learn And Do</h2>
        <p>
            Cee Learn And Do is een bedrijf die zich specialiseert in hoogwaardige diensten op het gebied van.NET consultancy. De ervaren consultants van CeeLearnAndDo worden ingeschakeld voor verschillende opdrachten waarbij het altijd gaat om het aanbieden van .NET expertise.
        </p>
        <a class="btn btn-default" href="Home/Contact">Neem contact met ons op</a>

    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>