@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cee Learn And Do voor consultancy .NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Een leuk tekstje</h2>
        <p>
            Hier komt een leuk tekstje over Cee Learn And Do. We weten alleen nog niet precies wat hier moet komen dus daarom staat dit leuke stukje tekst hier. :)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hier komt een artikel</h2>
    </div>
    <div class="col-md-4">
        <h2>Hier komt een artikel</h2>
    </div>
</div>