@model IEnumerable<CeeLearnAndDo.Models.ContactAdmin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <p class="b">Titel</p>
        </th>
        <th>
            <p class="b">Omschrijving</p>
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Solution", "Solution", new { id = item.Id })
            </td>
        </tr>
    }


</table>
