@model CeeLearnAndDo.Models.AnswerViewModel

    <h2>Details</h2>

    <div>
        <h4>ContactAdmin</h4>
        <hr />
        </div>
        @Model.contactadmin.Description
@Model.answer.AnswerDescription
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
