@model CeeLearnAndDo.Models.ContactAdmin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactAdmin</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt class="b">
            Titel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="b">
            Omschrijving
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="b">
            Antwoord
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Terug naar het overzicht", "Index")
</p>
